/* NAVIGATION STUFF GOES HERE  */
#navWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: $navBG;
    z-index: 1000;
    
    nav {
        width: 100%;
        height: 100vh;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 2rem 1rem;
        gap: 0.5rem;
        z-index: 1001;
        
        li {
            &.active {
                background-color: darken($navBG,20%);
            }
            
            a {
                padding: 0.75rem;
                position: relative;
                z-index: 1002;
                
                span {
                    display: block;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

/* BODY STUFF GOES HERE  */
body {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "nav main"
        "nav footer";
    min-height: 100vh;
}

#mainWrapper {
    grid-area: main;
}

#footerWrapper {
    grid-area: footer;
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}

