/* NAVIGATION STUFF GOES HERE  */
#navWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: $navBG;
    z-index: 1000;
    
    nav {
        width: 100%;
        height: 100vh;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 2rem 1rem;
        gap: 0.5rem;
        z-index: 1001;
        
        li {
            &.active {
                background-color: darken($navBG,20%);
            }
            
            a {
                padding: 0.75rem;
                position: relative;
                z-index: 1002;
                
                span {
                    display: block;
                    margin-top: 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/* BODY STUFF GOES HERE  */
body {
    display: block;
    min-height: 100vh;
}

#mainWrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-width: 0;
}

/* --------------------------- SECTION ONE --------------------------- */
#one {
    display: grid;
    grid-template-columns: minmax(420px, 1fr) minmax(420px, 1fr);
    //gap: 1rem;
    align-items: center;
    button {
        font-size: 2.5rem;
        padding: 1.2rem 3rem;
    }
    h1 {
        font-size: 3.2rem;
        margin-bottom: 0;
    }
    h2 {
        font-size: 2.3rem;
    }
}
.social a {
    padding: 10px;
    margin: 2rem 1.5rem 2rem 0;
    img {
        width: 50px;
        height: auto;
    }
}

#one #profilePic {
    width: 65%;
    height: auto;
}

//CAROUSEL
.experienceCarosel {
  margin: 0 auto;
  width: 100%;
  //border: 5px red solid;
  img {
    width: 80px;
    height: auto;
  }


  .group {
    
    .card {
      flex: 0 0 5em;
      height: 7rem;
      padding: .5rem;
      text-align: center;
      align-content: center;
      padding-right: 1rem;
    }
  }
}

/* --------------------------- SECTION TWO --------------------------- */
#two {
    padding: 1.75rem 1.5rem;
    min-height: 72vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 2rem;
    align-items: center;

    .swiper {
        order: 0;
        grid-column: 1;
        width: 90%;
        max-width: none;
        margin-top: 2rem;
        align-self: center;
        //aspect-ratio: 4 / 3;
        overflow: hidden;

        .swiper-slide,
        .swiper-slide img {
            height: 100%;
        }

        .swiper-slide img {
            object-fit: cover;
        }
    }

    .aboutContent {
        order: 0;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        align-self: start;
    }

    .aboutContent h1 {
        margin-top: 3rem;
        text-align: left;
    }

    div.about {
        max-width: none;
        margin: 0;
        padding-top: 0;

        p {
            font-size: 1.2rem;
            line-height: 1.55;
        }
    }
}

//


#footerWrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}

