/* NAVIGATION STUFF GOES HERE  */
#navWrapper {

  nav {
    width: 100vw;
    background-color: $navBG;
  }
  ul {
    li {
      &.active {
        background-color: darken($navBG,20%);
      }
      
      a {
        svg {
          display: none;
        }
        span {
          display: block;
          color: $Lfont;
        }
      }
    }
  }
}


section {
  padding: 0;
  margin: 0;
}
#two {
  background-color: $panel2;
}

footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}


