/* NAVIGATION STUFF GOES HERE  */
#navWrapper {
  ul {
    li {
      a {
        svg {
          display: none;
        }

        span {
          display: block;
          color: $Lfont;
          font-size: 1.1rem;
        }
      }
    }
  }
}


section {
  padding: 0;
  margin: 0;
}

/* --------------------------- SECTION ONE --------------------------- */
#one {
  #profilePic {
    width: 90%;
    height: auto;
  }

  button {
    font-size: 30px;
    padding: 1rem 2.5rem;
    margin: 2rem 0;
  }
}

/* --------------------------- SECTION TWO --------------------------- */
#two {
  padding: 0 1.5rem;

  h1 {
    font-size: 2.5rem;
  }

  .swiper {
    order: 2;
    width: 60%;
    max-width: 900px;
    margin: 0.5rem auto 30px auto;
  }

  div.about {
    max-width: 900px;
    margin: 2rem auto 1rem;

    p {
      font-size: 1.4rem;
      line-height: 1.55;
      padding-bottom: $gutter;
    }
  }
}

/* --------------------------- SECTION THREE --------------------------- */
#three {
  #dev,
  #design {
    #designBorder,
    #devBorder {
      width: 60%;
    }
  }
}

/* --------------------------- SECTION FOUR --------------------------- */
#four {
  #caseStudies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 0.5rem;

    div {
      flex: 0 0 50%;
      margin: 0;
      margin-top: 20px;
      padding-top: 20px;
      max-height: fit-content;
      img {
        width: 70%;
        height: auto;
      }
    }
  }
}

footer div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}