@import 'variables';

// Global document behavior and reset-like setup
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/*  Apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// end all elements

/* --------------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $lightWeight;
  min-width: 320px;
  margin: 0;
}

/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: $navBG;


  nav {
    width: 100vw;
    background-color: $navBG;

  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    min-width: max-content;
    list-style-type: none;

    li {
      transition: background-color 0.3s ease;

      &.active {
        background-color: darken($navBG, 20%);
      }

      a {
        display: block;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;


        svg {
          width: 25px;
          height: auto;
          fill: $Lfont;
        }

        span {
          display: none;
        }
      }
    }
  }
}

/* --------------------------- MAIN --------------------------- */
main {
  section {
    min-height: 100vh;
    font-weight: $lightWeight;
    padding: $gutter;
    box-sizing: border-box;
    scroll-margin-top: 4rem;
  }
}

// end main

/* --------------------------- SECTION ONE --------------------------- */
#one {
  background-color: $panel1;
  color: $Dfont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: calc(4rem + #{$gutter});

  #profilePic {
    border-radius: 10px;
    filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.5));
  }


  h1,
  h2 {
    font-weight: $normalWeight;
  }

  button {
    font-size: 25px;
    background-color: $panel4;
    border: none;
    padding: .5rem 2rem;
    margin: 2rem 0;
    color: white;
    border-radius: 5px;
    font-family: $sansFont;
    font-weight: $lightWeight;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));

    transition: transform 300ms ease;
    transform: scale(1);

    &:hover {
      background-color: $panel5;
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-height: 780px) {
  #one {
    justify-content: flex-start;
  }
}

//.SOCIAL ICONS
.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $panel5;
  padding: 5px;
  border-radius: 5px;
  margin: 2rem $gutter 0 0;

  transition: transform 300ms ease;
  transform: scale(1);

  &:hover {
    background-color: $panel4;
    transform: scale(1.1);
  }
}


.social a img {
  display: block;
  width: 40px;
  height: 40px;
}

// Previous carousel-image approach kept for reference

// .experienceCarosel img {
//   display: inline-block;
//   width: 40px;
//   height: 40px;
//   background-color: $panel5;
//   padding: 5px;
//   border-radius: 5px;
//   margin: 0 $gutter 0 0;

//   transition: transform 300ms ease;
//   transform: scale(1);
//   &:hover {
//    background-color: $panel4;
//    transform: scale(1.1);
//   }
// }

//CAROUSEL
.experienceCarosel {
  margin: 0 auto;
  width: 90%;
  //border: 5px red solid;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 10s infinite linear;

    .card {
      flex: 0 0 5em;
      height: 5rem;
      padding: .5rem;
      text-align: center;
      align-content: center;
      padding-right: 1rem;
    }
  }
}

@keyframes spin {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}


#two,
#four {
  padding: 0 $gutter;
  color: $Dfont;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------- SECTION TWO --------------------------- */

#two {
  background-color: $panel2;
  text-align: center;
  display: flex;
  flex-direction: column;
  

  .aboutContent {
    order: 1;
  }

  h1 {
    font-weight: $normalWeight;
    margin-top: 30px;
  }

  .swiper {
    order: 2;
    width: 90%;
    height: auto;
    margin-top: .1rem;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.5));
    
    

    --swiper-theme-color: $panel5; // arrows + active pagination
    --swiper-pagination-color: #99D0C9;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.5);
    --swiper-pagination-bullet-inactive-opacity: 2;

    img {
      display: block;
      width: 100%;
      height: auto;


    }
  }

  div.about {
    margin: 40px $gutter $gutter $gutter;
    p {
      margin: 0 0 1rem 0;
      font-weight: $normalWeight;
      text-align: left;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}














/* --------------------------- SECTION THREE --------------------------- */
#three {
  background-color: $panel3;
  color: $Dfont;
}

/* --------------------------- SECTION FOUR --------------------------- */
#four {
  background-color: $panel4;
  color: $Lfont;
  text-align: center;
}

/* --------------------------- SECTION FIVE --------------------------- */
#five {
  background-color: $panel5;
  color: $Lfont;
}

/* --------------------------- FOOTER --------------------------- */

#footerWrapper {
  background-color: $Dfont;
  color: $Lfont;
}

footer {
  color: white;
  padding: 0.5rem $gutter;

  section.contact {

    // Contact text and icon/link styling
    p {
      font-size: 1.2rem;
      margin: .5rem;
    }

    ion-icon {
      color: white;
      padding-right: 5px;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  //End of contact

  section.social {
    display: flex;
    justify-content: center;

    // Social icon links inside footer
    a {
      display: block;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      color: white;

      &:hover {
        background-color: blue;
      }
    }

    // a
  }

  // End of social
  section.location {
    font-size: 1.5rem;
  }

  // End of location

  p.legal {
    padding-top: 2rem;
    justify-content: center;
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }

  // legal
}

// End of footer