@import 'variables';

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/*  Apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// end all elements

/* --------------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $lightWeight;
  min-width: 320px;
  margin: 0;
}

/* --------------------------- HEADER --------------------------- */

header {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: $gutter;
  align-items: center; //vertically
  padding: 0.5rem $gutter;

  span {
    font-size: 1.6rem;
    font-weight: $lightWeight;
    color: $Dfont;
  }
}

// end header

/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: $navBG;

  nav {
    width: 100vw;
    background-color: $navBG;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    min-width: max-content;
    list-style-type: none;

    li {
      transition: background-color 0.3s ease;

      &.active {
        background-color: darken($navBG, 20%);
      }

      a {
        display: block;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;

        img {
          display: block;
          margin: 0 auto;
        }

        svg {
          width: 25px;
          height: auto;
          fill: $Lfont;
        }

        span {
          display: none;
        }
      }
    }
  }
}

/* --------------------------- MAIN --------------------------- */
main {
  h1 {
    padding: 1rem $gutter 0.5rem $gutter;
    font-size: 1.5rem;
    color: $Dfont;

    margin: 0;
  }

  h2 {
    margin: 0;
    padding: $gutter;

  }

  h1,
  h2 {
    font-weight: $normalWeight;
    text-align: center;
  }

  p {
    padding: 0.5rem $gutter;
    color: #333;
    line-height: $leading;
  }

  section {
    height: 100vh;
    font-weight: $lightWeight;
    padding: $gutter;
    box-sizing: border-box;
  }
}

// end main


//Introductory section
#one {
  background-color: $panel1;
  color: $Dfont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }
}

//Card sections
#two, #four {
  padding: 0 $gutter;
  color: $Dfont;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  div {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
    
    img {
      display: block;
      margin: 0 auto;
      width: 70%;
      height: auto;
    }
  }
}
#two {
  background-color: $panel2;
  text-align: center;
  div {
    border: 1px solid $Lfont;
  }
}
#four {
background-color: $panel4;
color: $Lfont;
text-align:center;
div {
  border: 1px solid $Lfont;
  color: $Lfont;
  p {
    color: $Lfont;
  }
}
}

//Career Goals section
#three {
  background-color: $panel3;
  color: $Dfont;
  ul {
    list-style-type: none;
  }
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}

#five {
  background-color: $panel5;
  color: $Lfont;
  form.myForm {
    margin: 1rem $gutter;
  

   label {
    display: block;
    font-size: 1rem;
    color: $panel1;
    padding-top: 0.5rem;

    span {
      margin-left: 0.5rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    color: $Lfont;
    margin: 1.5rem 0 0.2rem 0;
    padding-top: 0.7rem;
    border-bottom: 1px solid $panel3;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  select {
    color: $Dfont;
    display: block;
    margin: 0.1rem 0 1rem 0;
    border: 1px solid $panel3;
    font-size: 1rem;
    width: 250px;
    padding: 0.5rem $gutter;
  }

  input:is(
      [type="text"],
      [type="email"],
      [type="tel"],
      [type="number"],
      [type="password"]
    ):is(:-webkit-autofill, :autofill) {
    transition: background-color 9999s ease-in-out 0s; // prevent flash of autofill color
    -webkit-text-fill-color: $Dfont; // set text color for autofill
  }

  input:is(
      [type="text"],
      [type="email"],
      [type="tel"],
      [type="number"],
      [type="password"]
    ):is(:-webkit-autofill, :autofill) {
    -webkit-text-fill-color: $Dfont !important;
  }

  #submit {
    border: none;
    background-color: $Dfont;
    color: $Lfont;
    margin: 1rem 0;
    width: 250px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    padding: 1rem 0;
  }
}
}

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
  background-color: $Dfont;
  color: $Lfont;
}

//End of footer wrapper

footer {
  color: white;
  padding: 0.5rem $gutter;


  section.contact {
    p {
      font-size: 1.2rem;
      margin: .5rem;
    }

    ion-icon {
      color: white;
      padding-right: 5px;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  //End of contact

  section.social {
    display: flex;
    justify-content: center;

    a {
      display: block;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      color: white;

      &:hover {
        background-color: blue;
      }
    }

    // a

  }

  // End of social
  section.location {
    font-size: 1.5rem;
  }

  // End of location

  p.legal {
    padding-top: 2rem;
    justify-content: center;
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }

  // legal
}

// End of footer