$panel1: #C0EEE4;
$panel2: #99D0C9;
$panel3: #71ACB0;
$panel4: #4B8D9E;
$panel5: #315A72;
$navBG: #454545;
$Lfont: #ECECEC;
$Dfont: #303030;


$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;